h1 {
    color: red
}

#n1, #n3 {background-color: #d6d8d9; color: black}
#n2 {background-color: #d4edda; color: green}
#n4 {background-color: #fff3cd; color: #bb8b24}
#n5 {background-color: #f8d7da; color: red}